*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Arial, sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{
    background:#f6f8f7;
    color:#333;
}


/* CABEÇALHO */

header{

    background:#006b4f;
    color:white;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;

}


.logo-area{

    display:flex;
    align-items:center;
    gap:15px;

}


.logo-area img{

    width:80px;
    height:auto;

}


.logo-area h1{

    font-size:35px;

}


.logo-area p{

    font-size:14px;

}



nav a{

    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;

}


nav a:hover{

    color:#ffd166;

}



/* BANNER */

.hero{

height:80vh;

background:

linear-gradient(
rgba(0,90,65,.75),
rgba(0,90,65,.75)
),

url("imagens/equipa.jpg")
center/cover;


display:flex;
justify-content:center;
align-items:center;

text-align:center;

color:white;

}



.hero h2{

font-size:55px;
max-width:900px;
color:white;
text-shadow:2px 2px 8px #000;

}


.hero p{

font-size:22px;
margin:25px;

}



.botao{

background:#f4b400;
color:white;

padding:16px 35px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}



/* SEÇÕES */

section{

padding:70px 8%;
text-align:center;

}



section h2{

color:#006b4f;
font-size:38px;
margin-bottom:25px;

}




/* GALERIA */

.galeria{

display:flex;
justify-content:center;
gap:30px;
margin-top:40px;

}


.galeria div{

background:white;
width:320px;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 20px #ddd;

}



.galeria img{

width:100%;
height:220px;
object-fit:cover;

}


.galeria h3{

color:#006b4f;
padding:15px;

}



.galeria p{

padding:0 15px 20px;

}




/* FOTO EQUIPA */

.foto-equipa{

width:80%;
max-width:900px;

border-radius:20px;

margin:30px;

}



/* CARTÕES */


.cards{

display:flex;
justify-content:center;
gap:30px;
margin-top:40px;

}


.card{

background:white;

width:300px;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px #ddd;

}


.card h3{

color:#006b4f;

margin-bottom:15px;

}




/* DOAÇÃO */

.doacao{

background:#eaf5f0;

}


.doacao strong{

display:block;

font-size:24px;

color:#006b4f;

margin-top:15px;

}



/* WHATSAPP */

.whatsapp{

position:fixed;

right:25px;
bottom:25px;

background:#25d366;

color:white;

padding:15px 25px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}


/* RODAPÉ */


footer{

background:#004d3b;

color:white;

text-align:center;

padding:30px;

}




/* MOBILE */

@media(max-width:800px){


header{

flex-direction:column;

}


nav{

margin-top:20px;

}


.hero h2{

font-size:35px;

}


.galeria,
.cards{

flex-direction:column;

align-items:center;

}


}
